* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}



body {
    background: url(img/bwall58.jpg);
    background-size: cover;
    height: 150vh;
    background-position: center;
    background-attachment: fixed;
}



form {
    height: 690px;
    width: 680px;
    background-color: rgba(250, 252, 252, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 71%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(1px);
    border: 4px solid rgba(231, 133, 133, 0.1);
    box-shadow: 0 0 80px rgba(4, 9, 250, 0.6);
    padding: 50px 35px;
}

form * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}


.labeler {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;

}

.inputer {
    display: block;
    height: 60px;
    width: 100%;
    background-color: rgba(247, 242, 242, 0.07);
    border-radius: 8px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.placeholderer {
    color: #e5e5e5;
}

.cardsize {
    width: 680px;
    height: 44px;
   
    
}

.option1 {
    color: black;
 
}

h4 {
    margin-top: 3px;
    left: -10px;
}

h4 a{
    margin-top: -1px;
    margin-left:  110px;
    margin-right: -170px;
}
