* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}



body {
    background: url(img/bwall58.jpg);
    background-size: cover;
    height: 200vh;
    background-position: center;
    background-attachment: fixed;
}


header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0, 0, 0, 0.2);
}

#chk1 {
    display: none;


}

i {
    color: #fff;
    cursor: pointer;
}

header .search-box {
    flex: 1;
    position: relative;
    left: 50px;
}

.search-box input {
    width: 75%;
    height: 38px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    margin-left: -20px;

}

.search-box button {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 90px;
    transform: scale(0.9);
    background: green;
    color: #fff;
}

header ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li {
    list-style: none;
    
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: large;
    text-transform: uppercase;
    padding: 10px 15px;
    
    
}

header ul li a:hover {
    border-bottom: 2px solid rgb(17, 228, 98);
    margin-top: 100px;
}

header .menu {
    font-size: 2.5em;
    display: none;
}

@media(max-width:1000px) {
    .search-box button {
        position: absolute;
    }

    header ul {
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0, 0, 0, 0.5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }

    header .menu {
        display: block;
        width: 100px;
        text-align: center;
    }

    #chk1:checked~ul {
        right: 0;

    }

}

 .log1 {
    color:rgb(211, 216, 211);
    margin-top: -9px;
}

.glogo {
    color:rgb(211, 216, 211);
    margin-top: -9px;
    height: 120px;
    width:300px;
    
    
}